# Conceitos básicos de Machine Learning - parte 2
Avaliando o histórico de navegação de usuários em um site e se ele comprou ou não o produto anunciado.
## Importando os dados

In [21]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [22]:
x = dados[["home","how_it_works","contact"]]
y = dados[["bought"]]

In [23]:
mapa = { 
    "home" : "pagina_principal",
    "how_it_works" : "pagina_como_funciona",
    "contact" : "pagina_contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [24]:
x = dados[["pagina_principal","pagina_como_funciona","pagina_contato"]]
y = dados[["comprou"]]

x[:10]

   pagina_principal  pagina_como_funciona  pagina_contato
0                 1                     1               0
1                 1                     1               0
2                 1                     1               0
3                 1                     1               0
4                 1                     1               0
5                 1                     0               1
6                 1                     1               0
7                 1                     0               1
8                 1                     1               0
9                 1                     0               1

In [25]:
y[:10]

   comprou
0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        1

In [6]:
dados.shape

(99, 4)

## Separando os dados manualmente para o modelo

In [7]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

## Definindo, treinando e testando o modelo

In [8]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

# Usando uma biblioteca para separar treino e teste

In [26]:
SEED = 20

In [9]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

In [11]:
treino_y.value_counts()

comprou
0          47
1          27
Name: count, dtype: int64

In [12]:
teste_y.value_counts()

comprou
0          19
1           6
Name: count, dtype: int64

### Estratificando a divisão dos dados.

In [13]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Users\guifr\anaconda3\envs\estudo\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

In [14]:
treino_y.value_counts()

comprou
0          49
1          25
Name: count, dtype: int64

In [15]:
teste_y.value_counts()

comprou
0          17
1           8
Name: count, dtype: int64